.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal__window {
  padding: 28px;
  position: relative;
  background: white;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  font-family: "Cabinet-Grotesk";
  font-size: 16px;
  line-height: 20px;
  font-weight: bold;
}

.modal__fieldset {
  display: flex;
  flex-direction: column;
  border: none;
  padding: 0;
  margin: 0;
}

.modal__title {
  font-size: 16px;
  line-height: 20px;
}

.modal__close {
  height: 16px;
  width: 16px;
  background-size: 16px;
  background-image: url(../../images/close-button.png);
  background-color: transparent;
  border: none;
  position: absolute;
  top: 23px;
  right: 23px;
}

.modal__close:hover {
  cursor: pointer;
}

.modal__submit {
  width: 124px;
  height: 36px;
  padding: 8px, 16px, 8px, 16px;
  margin: 24px 0px;
}

.modal__submit {
  cursor: pointer;
}
