.profile {
  max-width: 1440px;
  width: 100%;
  display: grid;
  grid-template-columns: 22% 78%;
  grid-template-rows: 1;
  font-family: "Cabinet-Grotesk";
  font-size: 20px;
  line-height: 24px;
  font-weight: bold;
}

.profile__side-bar {
  grid-row: 1;
  grid-column: 1;
  align-items: start;
}

.profile__info {
  display: flex;
  align-items: center;
}

.profile__username {
  margin: 0 12px;
}

.profile__avatar {
  width: 56px;
  height: 56px;
}

.profile__main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.profile__main-text {
  display: flex;
}

.profile__your-items {
  padding: 0 10px;
  margin-bottom: 8px;
}

.profile__add-clothes {
  padding: 0 10px;
  margin-bottom: 8px;
  color: rgba(0, 0, 0, 0.6);
  cursor: pointer;
}

.profile__cards {
  grid-row: 1;
  grid-column: 2;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  column-gap: 17px;
  row-gap: 20px;
}

@media screen and (max-width: 1200px) {
  .profile__main {
    justify-content: flex-start;
  }
}

@media screen and (max-width: 798px) {
  .profile {
    grid-template-rows: 56px auto;
    grid-template-columns: 100% 0%;
    justify-content: center;
  }

  .profile__side-bar {
    grid-row: 1;
    display: flex;
    justify-content: center;
  }

  .profile__main {
    grid-row: 2;
    grid-column: 1;
    grid-template-columns: repeat(auto-fill, 300px);
    align-items: center;
  }

  .profile__cards {
    justify-content: center;
  }
}
