.modal__label {
  margin-top: 24px;
  margin-bottom: 8px;
}

.modal__label_type_radio {
  margin-top: 8px;
  margin-bottom: 0px;
}

.modal__input {
  font-size: 16px;
  line-height: 20px;
  width: 440px;
  border-top: none;
  border-left: none;
  border-right: none;
}

.modal__input_type_radio {
  margin: 0 8px 0 0;
  width: auto;
}

.modal__radio-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.modal__input_type_error {
  border-bottom: 1px solid rgba(255, 0, 0, 1);
}

.modal__submit_inactive {
  background-color: rgba(0, 0, 0, 0.2);
  pointer-events: none;
}

.modal__error_visible {
  font-size: 12px;
  line-height: 15px;
  color: rgba(255, 0, 0, 1);
  margin: 8px 0 0 0;
}

@media screen and (max-width: 560px) {
  .modal__input {
    width: 250px;
  }

  .modal__input_type_radio {
    margin-bottom: 12px;
    width: auto;
  }
}
